<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dainty for Visual Studio – Colors</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300"
      rel="stylesheet"
    />
    <style>
      /* INSERT_DAINTY_CSS */

      .swatch {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: relative;
        top: 4.5px;
      }
    </style>
  </head>

  <body>
    <main>
      <h1>Colors</h1>
      <section>
        <h2>Filter</h2>
        <form>
          <div class="form-section">
            <div class="form-group">
              <label>Filter color scales by index</label>
              <div class="input-container">
                <select id="selectMod" onchange="filterMod();">
                  <option value="mod-1">Mod 1</option>
                  <option value="mod-2">Mod 2</option>
                  <option value="mod-4">Mod 4</option>
                  <option value="mod-8" selected>Mod 8</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </section>
      <!-- INSERT_CONTENT -->
    </main>
    <script>
      var $ = document.querySelector.bind(document);
      var $$ = document.querySelectorAll.bind(document);

      function filterMod() {
        var selectModEl = $("#selectMod");
        var className = `.${
          selectModEl.options[selectModEl.selectedIndex].value
        }`;

        for (el of $$(`.mod`)) {
          if (!el.classList.contains(className)) {
            el.style.display = "none";
          }
        }

        for (el of $$(className)) {
          el.style.display = "table-row";
        }
      }

      filterMod();
    </script>
  </body>
</html>
