<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dainty for Visual Studio – Coverage</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300"
      rel="stylesheet"
    />
    <style>
      /* INSERT_DAINTY_CSS */

      main {
        max-width: 1440px;
      }

      table {
        width: 1440px;
        font-size: 14px;
      }

      th,
      td {
        padding: 8px;
      }

      tr.category-expand,
      tr.category-collapse {
        display: none;
      }

      tr.category-expand.visible,
      tr.category-collapse.visible {
        display: table-row;
      }

      td.toggle-category {
        cursor: pointer;
        font-weight: 400;
      }
    </style>
  </head>

  <body>
    <main><!-- INSERT_CONTENT --></main>
    <script>
      var $ = document.querySelector.bind(document);
      var $$ = document.querySelectorAll.bind(document);

      function toggleCategory(category) {
        const expandNodes = $$(
          `.category.category-${category}.category-expand`
        );
        const collapseNodes = $$(
          `.category.category-${category}.category-collapse`
        );

        expandNodes.forEach(value => {
          value.classList.toggle("visible");
        });

        collapseNodes.forEach(value => {
          value.classList.toggle("visible");
        });
      }
    </script>
  </body>
</html>
