<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dainty for Visual Studio – Syntax</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300"
      rel="stylesheet"
    />
    <style>
      /* INSERT_DAINTY_CSS */
    </style>
  </head>

  <body>
    <main>
      <h1>Dainty CSS</h1>
      <section>
        <h2>Typography</h2>

        <h1>Heading 1</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <h2>Heading 2</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <h3>Heading 3</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <h3>Small paragraph</h3>
        <p class="small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <h3>Dimmed paragraph</h3>
        <p class="dim">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <h3>Code</h3>
        <p>
          <code>
            @media (max-width: 1023.98px) { .modal { width: 100vw; } }
          </code>
        </p>
        <h3>Preformatted code</h3>
        <p>
        <pre><code>@media (max-width: 1023.98px) {
  .modal {
    width: 100vw;
  }
}</code></pre></p>
      </section>
      <section>
        <h2>Tables</h2>
        <div class="table-scroll-container">
          <table>
            <thead>
              <tr>
                <th>Heading 1</th>
                <th>Heading 2</th>
                <th>Heading 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Data cell 1</td>
                <td>Data cell 2</td>
                <td>Data cell 3</td>
              </tr>
              <tr>
                <td>Data cell 4</td>
                <td>Data cell 5</td>
                <td>Data cell 6</td>
              </tr>
              <tr>
                <td>Data cell 7</td>
                <td>Data cell 8</td>
                <td>Data cell 9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section>
        <h2>Forms</h2>
        <form>
          <div class="form-section">
            <div class="form-group">
              <label>Input 1</label>
              <div class="input-container"><input type="text" /></div>
            </div>
            <div class="form-group">
              <label>Input 2</label>
              <div class="input-container"><input type="text" /></div>
            </div>
            <div class="form-group">
              <label>Select 1</label>
              <div class="input-container">
                <select>
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Checkbox 1</label>
              <div class="ckbx-style-8">
                <input type="checkbox" id="checkbox1">
                <label for="checkbox1"></label>
              </div>
            </div>
            <div class="form-group">
              <label>Checkbox 2</label>
              <div class="ckbx-style-8">
                <input type="checkbox" checked id="checkbox2">
                <label for="checkbox2"></label>
              </div>
            </div>
          </div>
        </form>
      </section>
      <section>
        <h2>Buttons</h2>
        <form>
          <div class="form-section">
            <div class="button-group">
              <button class="primary">Primary</button>
              <button>Non-primary</button>
            </div>
          </div>
          <div class="form-section">
            <div class="button-group">
              <button class="primary large">Primary large</button>
              <button class="large">Non-primary large</button>
            </div>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
